.toggle-content {
    display: block;
    height: 0;
    overflow: hidden;
    transition: height 400ms ease; 
    background-color: navy;
    color: white;
}

.block {
    display: block;
}

a#clicker {
    color: black;
}

a#clicker:hover {
    color: gray;
}
